<div class="h_bigphoto" id="<%= photo.id %>">
	<p class="h_user"><%= link_to photo.user.username, :controller => 'user', :id => photo.user.id %></p>
	<% if ( photo.location && !photo.location.blank? ) -%><p class="h_geo">at <%= link_to h( photo.location.name ), :controller => 'location', :id => photo.location.id %></p><% end -%>
	<%= link_to( image_tag( photo.images.standard_resolution.url, :border => 0 ), :controller => 'photo', :id => photo.id ) %>
	<% if ( photo.caption && !photo.caption.textblank? ) -%><p class="h_caption"><%= h( photo.caption.text ) %></p><% end -%>
	<p class="h_likes">
		<% if ( photo.likes[:count] > 0 ) -%>
			<%= photo.likes[:count] %> likes: 
			<%= render :partial => 'shared/like', :collection => photo.likes.data %>
		<% end -%>
	</p>
	<% if ( photo.comments[:count] > 0 ) -%>
		<p class="h_comments">
			<%= photo.comments[:count] %> comments 

			<% if ( comments && comments.any? ) -%>
				<%= render :partial => 'shared/comment', :collection => comments %>
			<% end -%>
		</p>
	<% end -%>
</div>
